@import 'bulma';

html {
	height: 100vh;
	overflow-y: auto;
}

body {
	background-color: ghostwhite;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

#wrapper {
	flex: 1;
}

#sidebar {
	padding: 1rem;
	background-color: #dee1e4;
	min-height: 100%;
}

.theme-list {
	display: flex;

	.theme {
		border: 1px solid #ededed;
		margin: 15px 20px;
		padding: 15px 20px;
		min-width: 200px;

		.title {
			text-align: center;
		}

		.actions form {
			display: flex;
		}

		&.current {
			border: 1px solid #c35656a6;
		}
	}
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}