// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$sidebar-width: 200px;
$topbar-height: 50px;

.app-container {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
#topnavbar {
	height: $topbar-height;
	border-bottom: 1px solid #e8e8e8;
	box-shadow: 0 2px 4px rgba(0,0,0,.08);
}

#app-sidebar {
	background-color: #6f3d9e;
	width: $sidebar-width;
	position: fixed;
	height: 100%;
}

.app-body {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin-top: $topbar-height;
}

.app-content {
	background-color: #9df2df;
	margin-left: $sidebar-width;
	flex: 1;
}
